# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/Dg.fifth.Web.Host/App_Data/Logs/
aspnet-core/src/Dg.fifth.Web.Mvc/App_Data/Logs/
aspnet-core/src/Dg.fifth.Migrator/Logs/Logs.txt
